.dashboard-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    width: 70%;
    height: 80%;

    border: 1px solid black;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dashboard-main-view {
    height: 90%;
    width: 60%;

    border: 1px solid black;
}

.dashboard-button-section {
    height: 90%;
    width: 30%;

    border: 1px solid black;
}

.button-section-container {
    height: 100%;
    width: 100%;
}

.button-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}